// Fonts
$font-family-body: sans-serif;
$font-family-heading: serif;

// Font Sizes
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-36: 2.25rem;
$font-size-44: 2.75rem;

$body-font-size: $font-size-24;
$body-line-height: 1.5;
$body-font-size--mob: $font-size-18;
$body-line-height--mob: 1.77778;

// Colors
$color-black: #1d1c1c;
$color-gray: lighten($color-black, 30%);
$color-lightest-gray: lighten($color-black, 85%);
$color-white: #fff;
$color-primary-orange: #fa6400;

$color-text-base: $color-black;
$color-action: $color-primary-orange;

// Spacing
$base-space-value: 0.5rem;

$space-values: (
  "0": 0,
  "1": $base-space-value,
  "2": $base-space-value * 2,
  "3": $base-space-value * 3,
  "4": $base-space-value * 4,
  "6": $base-space-value * 6,
  "8": $base-space-value * 8,
  "12": $base-space-value * 12,
  "16": $base-space-value * 16,
);

$space-0: map-get($space-values, "0");
$space-1: map-get($space-values, "1");
$space-2: map-get($space-values, "2");
$space-3: map-get($space-values, "3");
$space-4: map-get($space-values, "4");
$space-6: map-get($space-values, "6");
$space-8: map-get($space-values, "8");
$space-12: map-get($space-values, "12");
$space-16: map-get($space-values, "16");

$breakpoint-small: 32em;
$breakpoint-medium: 48em;
$breakpoint-large: 60em;
$breakpoint-x-large: 75em;

// Timing
$transition-duration-base: 125ms;
$transition-duration-long: 300ms;

$transition-timing-base: ease-in-out;
