html {
    color: $color_text-base;
    font-family: $font-family_body;
    font-size: 100%;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family_heading;
    margin: 0;
}

p {
    font-size: $body-font-size--mob;
    line-height: $body-line-height--mob;
    margin: 0 0 $space-4;

    @media (min-width: $breakpoint_medium) {
        font-size: $body-font-size;
        line-height: $body-line-height;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}
